@import "../variables.scss";

.logo {
  width: 80px;
}
.background--color {
  background-color: #e7e7fa;
  min-height: 100vh;
}

.cursor--pointer {
  cursor: pointer;
}
.top-title {
  font-size: 24px;
  text-align: left;
  color: #403e50;
}
.content--pos {
  margin-left: 10px;
  height: 100%;
}
.topnav {
  background-color: rgb(252, 252, 252);
  padding: 15px;
}

.arrow {
  border: solid rgb(0, 0, 0);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.text--gold {
  color: $primary-color;
}
