.logo {
  width: 80px;
}
.background--color {
  background-color: #e7e7fa;
  min-height: 100vh;
}

.cursor--pointer {
  cursor: pointer;
}
.top-title {
  font-size: 24px;
  text-align: left;
  color: #403e50;
}
.content--pos {
  margin-left: 10px;
  height: 100%;
}
.topnav {
  background-color: rgb(252, 252, 252);
  padding: 15px;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#heart {
  position: relative;
  width: 100px;
  height: 90px;
  margin-top: 10px;
  cursor: pointer;
}

#heart::before,
#heart::after {
  content: "";
  position: absolute;
  top: 0;
  width: 52px;
  height: 80px;
  border-radius: 50px 50px 0 0;
  background: rgb(216, 55, 55);
}

#heart::before {
  left: 50px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

#heart::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}
