.logo {
  width: 80px;
}
.background--color {
  background-color: #e7e7fa;
  min-height: 100vh;
}

.cursor--pointer {
  cursor: pointer;
}
.top-title {
  font-size: 24px;
  text-align: left;
  color: #403e50;
}
.content--pos {
  margin-left: 10px;
  height: 100%;
}
.topnav {
  background-color: rgb(252, 252, 252);
  padding: 15px;
}
